
$blue-color: #0f2237;
$white-color: #ffffff;
$darker-white-color: #f1f2f2;
$more-darker-white-color: #e6e7e8;
$red-color: #ed1c24;
$black-color: #414042;
$darker-black-color: #0f2237;
$yellow-color: #fcaf17;
$grey-color: #6d6e71;
$light-grey-color: #808285;
$dark-grey-color: #000000;
$green-color: #2cc185;


// Body
$body-bg: #ffffff;
$body-color: $white-color;

// Typography
$font-family-sans-serif: "Roboto", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
